<body>
  <h1>Bienvenu à toutes et à tous!</h1>
  
  <form method='POST' action='homepage.php'>
      <input type='text' name='nom' placeholder='Votre nom'></input></br></br>
      <input type='email' name='email' placeholder='Votre email'></input></br></br>
      <textarea name='message' placeholder='Votre message'></textarea></br></br>
      <input type='submit' name='envoyer' value='Envoyer'></input></br>
  </form>

</body>

