    <div class="container-fluid">
      <header class="masthead">
        <nav class="navbar navbar-expand-md navbar-light rounded m-3" style="height: 100px; background-color: #007bff; font-size:30px;">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav text-md-center nav-justified w-100">
              <li class="nav-item active">
                <a class="nav-link" href="index.php?entity=homePage" style="font-weight:bold;color:white">Page d'accueil <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href ="index.php?action=getList&entity=post&number=10" style="color:white" > Liste des postes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href ="index.php?action=add&entity=post" style="color:white"> Créer un post</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
    </div> <!-- /container -->
