<h3><?= $post ?></h3>
    <form method="post" action="index.php?action=update&entity=post&id=<?= $_GET['id']; ?>">
        <label>Titre du post: </label><input type="text" name="titlePost" id="titre_post"/>
        </br><label>Pseudo: </label><input type="text" name="authorPost" id="auteur_post"/>
        </br><label>Description: </label><textarea type="text" name="descriptionPost" id="description"></textarea>
        </br><input type="submit"/>
    </form>
    
<a href = "index.php.php?action=delete&entity=post&id=<?= $_GET['id']; ?>">Supprimer le post</a>
</br>
<a href = "index.php?action=read&entity=post&id=<?= $_GET['id']; ?>">Retour au post</a>
